---
import NavBar from "./NavBar.astro";

---

<header class="flex justify-between items-center bg-slate-800 text-white px-6 py-4 m-auto">
    <h1 class="text-xl"><a href="/">Moontibit</a></h1>
    <NavBar/>
</header>