---
---

<nav class="absolute top-[3.7rem] w-full sm:w-auto sm:static bg-slate-800 sm:pr-5">
  <ul class="flex flex-col gap-3 sm:gap-6 text-center px-2.5 sm:px-0 py-3.5 sm:py-0 sm:flex-row text-black sm:text-white">
    <li class="bg-stone-200 sm:bg-transparent rounded"><a href="/"></a>Home</li>
    <li class="bg-stone-200 sm:bg-transparent rounded"><a href="#"></a>Posts</li>
    <li class="bg-stone-200 sm:bg-transparent rounded"><a href="#"></a>About</li>
    <li class="bg-stone-200 sm:bg-transparent rounded"><a href="#"></a>Contact</li>
  </ul>
</nav>
